<#include "/common/_layout.html"/>
<@layout/>
<script type="text/javascript" src="${ctx}/static/js/sys/Dictitem.js"></script>
</head>
<body class="easyui-layout">
<table id="tg" title="区域列表">
	<thead>
		<tr>
			<th data-options="field:'id',hidden:true">id</th>
			<th data-options="field:'name'" width="10%">区域名称</th>
			<th align="center" data-options="field:'code'" width="10%">区域编码</th>
			<th align="center" width="10%" data-options="field:'enName'">拼音</th>
			<th align="center" width="10%" data-options="field:'shortName'">拼音简称</th>
		</tr>
	</thead>
</table>

</body>
</html>