<form id="addForm" method="post">
	<table class="formTable">
		<tr>
			<td>用户名：</td>
			<td>
				<input type="hidden" name="id"/>
				<input name="username" type="text" class="easyui-textbox" data-options="width: 150"/> 
			</td>
		</tr>
		<tr>
			<td>密码：</td>
			<td><input class="easyui-textbox" name="password" type="password"  id="password" data-options="width: 150"/>
			</td>
			
		</tr>
		<tr>
			<td>姓名：</td>
			<td><input name="realname" type="text" class="easyui-textbox" data-options="width: 150"/></td>
		</tr>
		<tr>
			<td>性别：</td>
			<td>
				<input type="radio" id="man" name="geneder" value="1"/><label for="man">男</label>
				<input type="radio" id="woman" name="geneder" value="0"/><label for="woman">女</label>
			</td>
		</tr>
		<tr>
			<td>Email：</td>
			<td><input type="text" name="email"  class="easyui-textbox" data-options="width: 150"/></td>
		</tr>
		<tr>
			<td>出生日期：</td>
			<td><input name="birthday" type="text" class="easyui-datetimebox"  data-options="width: 150"/></td>
		</tr>
		<tr>
			<td>电话：</td>
			<td><input type="text" name="phone"class="easyui-numberbox"  data-options="width: 150"/></td>
		</tr>
		<tr>
			<td>状态：</td>
		    <td><select class="easyui-combobox" name="status" data-options="width: 150"><option value="1">开启</option><option value="0">关闭</option></select></td>
		</tr>
		<tr>
			<td>部门：</td>
			<td><select class="easyui-combotree" name="departmentId" id="dept" data-options="width: 150"></select></td>
		</tr>
		<tr>
			<td>描述：</td>
			<td><textarea rows="3" cols="41" name="description" style="font-size: 12px;font-family: '微软雅黑'"></textarea></td>
		</tr>
	</table>
</form>