<#include "/common/_layout.html"/>
<@layout/>
<script type="text/javascript" src="${ctx}/static/js/sys/User.js"></script>
<script type="text/javascript" src="${ctx}/plugins/jquery-ext/m.js"></script>

</head>
<body class="easyui-layout">
<table id="dg" title="员工列表" data-options="toolbar:'#toolbar'">
	<thead>
		<tr>
			<th data-options="field:'id',hidden:true">id</th>
			<th data-options="field:'ck',checkbox:true"></th>
			<th align="center" data-options="field:'username'" width="10%">用户名</th>
			<th align="center" data-options="field:'realname'"  width="10%">姓名</th>
			<th align="center" width="5%" data-options="field:'geneder',formatter:function(value,row,index){if(value==1){return '男';}else if(value==0){return '女'}}">性别</th>
			<th align="center" data-options="field:'birthday'" width="12%">生日</th>
			<th align="center" width="10%" data-options="field:'status',formatter:function(value,row,index){if(value=='1'||value==1){return '开启状态';}else{return '关闭状态'}}" >状态</th>
			<th align="center" data-options="field:'phone'" width="8%">电话</th>
			<th align="center" data-options="field:'inputTime'" width="12%">创建时间</th>
			<th align="center" data-options="field:'email'" width="10%">邮箱</th>
			<th data-options="field:'departmentId',hidden:true">departmentId</th>
			<th align="center" width="8%" data-options="field:'name'">所在部门</th>
			<th align="center" width="10%" data-options="field:'description'">描述</th>
		</tr>
	</thead>
</table>

<div id="toolbar" style="padding:5px;height:auto;">
    <div style="display:inline;margin-left:5px;">
      <a class="easyui-linkbutton"  id="add" data-options="iconCls:'icon-add',plain:true">添加</a><span class="toolbar-item dialog-tool-separator"></span>
	  <a class="easyui-linkbutton" id="del" data-options="iconCls:'icon-remove',plain:true">删除</a><span class="toolbar-item dialog-tool-separator"></span>
	  <a class="easyui-linkbutton" id="edit" data-options="iconCls:'icon-edit',plain:true">修改</a><span class="toolbar-item dialog-tool-separator"></span>
	  <a class="easyui-linkbutton" id="user_role" data-options="iconCls:'icon-hamburg-my-account',plain:true">用户权限</a>
	</div>
	<div style="margin-left:4px;">
	  <form action="#" id="tForm" style="display:inline;">
         <span style="margin-left:5px;">状态: <select class="easyui-combobox" style="width:100px;" name="status"><option value="1">开启</option><option value="0">关闭</option></select></span>
	    <span style="margin-left:5px;"> 时间: <input class="easyui-datebox" style="width:120px;" name="startTime"></input>-<input class="easyui-datebox" name="endTime" style="width:120px"></input></span>
	     <span style="margin-left:5px;">综合搜索: <input class="easyui-textbox" style="width:120px;" name="name"></input></span>
	  <a href="#" class="easyui-linkbutton" style="width:150px;margin-right:5px;float:right;" id="search" iconCls="icon-search">查询</a>
      </form>
   </div>
</div>

<div id="addDialog" class="easyui-dialog" data-options="closed:true,modal:true,maximizable:true" style="width:420px;height:380px;">
<#include "add.html"/>
</div>
<div id="userRole" class="easyui-dialog" data-options="closed:true,modal:true,maximizable:true" style="width:500px;height:350px;">
<#include "userRole.html"/>
</div>

</body>
</html>