<table id="ur_dg" title="用户权限列表">
	<thead>
		<tr>
			<th data-options="field:'id',hidden:true">id</th>
			<th data-options="field:'ck',checkbox:true"></th>
			<th align="center" data-options="field:'name'" width="10%">名称</th>
			<th align="center" data-options="field:'roleCode'" width="10%">编码</th>
			<th align="center" width="10%" data-options="field:'status',formatter:function(value,row,index){if(value=='1'||value==1){return '开启状态';}else{return '关闭状态'}}" >状态</th>
			<th align="center" width="10%" data-options="field:'description'">描述</th>
		</tr>
	</thead>
</table>