<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 全局缓存 -->
		<setting name="cacheEnabled" value="true" />
		<!--是否延迟加载 -->
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="aggressiveLazyLoading" value="true" />
		<!--是否允许单一语句返回多结果集 -->
		<setting name="multipleResultSetsEnabled" value="true" />
		<!--列名代替标签名 -->
		<setting name="useColumnLabel" value="true" />
		<!--自动映射 -->
		<setting name="autoMappingBehavior" value="FULL" />
		<!--超时设置 -->
		<setting name="defaultStatementTimeout" value="60" />
		<!-- 允许在嵌套语句中使用分页 -->
		<setting name="safeRowBoundsEnabled" value="false" />
		<!-- 开启自动驼峰命名规则 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<package name="cn.wawi.entity" />
	</typeAliases>
	<!-- -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://127.0.0.1:3306/jfinal" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
        <mapper resource="cn/wawi/sql/sys.xml"/>
    </mappers> 
</configuration>
